body{
	margin: 0;
	font-size: 1em;
}


/*--------------------------- ESTILO DE HEADER ---------------------------*/


header{
	width: 100%;
	height: auto;
	margin: 0px;
	display: flex;
	justify-content: space-around;
}

header > div > h3{
	margin: 10px 0;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
}


/*-------------------- ESTILO DE BARRA DE NAVEGACIÓN --------------------*/


nav{
	width: 100%;
	height: auto;
	margin: 0;
	display: flex;
	justify-content: space-around;
	background-color: #51007A;
}

nav > div{
	width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: background-color;
	transition-duration: 0.5s;
}

nav > div:hover{
	background-color: rgb(68, 68, 68);
	box-shadow: inset 6px 2px 26px 19px rgba(0,0,0,0.4);
	cursor: pointer;
	transition-property: background-color, box-shadow;
}

nav > div > h2{
	margin: 10px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 2em;
	color: #FFFFFF;
}


/*------------------------ ESTILO DE SECCIÓN PRINCIPAL ------------------------*/


section{
	width: 100%;
	height: auto;
	padding: 7% 0;
	display: flex;
	justify-content: center;
	background-color: rgb(162, 13, 221);
}


/*--------------------------- ESTILO DE CALCULADORA ---------------------------*/


.calculadora{
	width: 300px;
	height: 500px;
	padding: 5px;
	border-spacing: 0;
	background-color: #FFFFFF;
}

.pantalla1{
	height: 2.5em;
	font-size: 1em;
	text-align: right;
	background-color: #51007A;
}

.pantalla2{
	height: 2em;
	font-size: 1.5em;
	text-align: right;
	background-color: #51007A;
}

.pantalla1 > td, .pantalla2 > td{
	padding: 0 15px 0 0;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	color: #FFFFFF;
}

.botones-calculadora > td{
	width: auto;
	height: auto;
	padding: 0;
}

.boton-calculadora{
	width: 75px;
	height: 80.4px;
	border: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	color: #FFFFFF;
	text-align: center;
	background-color: rgb(124, 124, 124);
	cursor: pointer;
}

.boton-calculadora:hover{
	box-shadow: inset 6px 2px 26px 19px rgba(255,255,255,0.15);
}

.boton-calculadora:active{
	box-shadow: inset 6px 2px 26px 19px rgba(0,0,0,0.15);
}

.operacion{
	background-color: rgb(68, 68, 68);
}

.boton-calculadora-igual{
	height: 160.8px;
}

.boton-calculadora-cero{
	width: 150px;
}


/*--------------------------- ESTILO DE GATO ---------------------------*/


.gato{
	font-family: 'Oswald', sans-serif;
}

.mensaje{
	width: 500px;
	height: auto;
	font-size: 1.75em;
	color: #FFFFFF;
	text-align: center;
}

.mensaje > div > div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mensaje button{
	width: 30%;
	height: auto;
	padding: 5px;
	font-size: 0.7em;
	text-align: center;
}

.partida{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.estadoPartida{
	margin-bottom: 25px;
}

.estadoPartida p{
	font-size: 2em;
	text-align: center;
	margin: 0;
}

.estadoPartida p:first-child{
	color: #FFFFFF;
}

.jugador1{
	color: rgb(16, 247, 247);
}

.jugador2{
	color: rgb(235, 252, 5);
}

.ganador{
	color: rgb(5, 255, 5);
}

.tablero{
	width: 450px;
	height: 450px;
	border-spacing: 0;
	background-color: rgb(112, 112, 112);
}

.tablero td{
	width: 150px;
	height: 150px;
	border: 1px solid;
	text-align: center;
	font-size: 3.5em;
	color: #FFFFFF;
	cursor: pointer;
}

.partida > button{
	width: 40%;
	height: auto;
	padding: 5px;
	margin-top: 1em;
	font-size: 1.25em;
	text-align: center;
}


/*--------------------------- ESTILO DE FOOTER ---------------------------*/


footer{
	width: 100%;
	height: auto;
	margin: 0;
	display: flex;
	justify-content: space-around;
	background-color: rgb(68, 68, 68);
}

footer > div{
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > div > p{
	text-align: justify;
	margin: 0;
	padding: 5%;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.25em;
	color: #FFFFFF;
}